#room-window {
    /*width: 300px;*/
    margin: 5px 0 0 5px;
    float: left;
    border: 1px solid silver;
}

#room-title {
    background-color: cornflowerblue;
    float: left;
    width: 100%;
}

#room-stage {
    /*width: 100%;*/
    position: relative;
    /*height: 200px;*/
    background-color: #AEBDCC;
    float: left;
    clear: left;
    overflow: hidden;
}

#log-window {
    margin: 5px 0 0 5px;
    border: 1px solid silver;
}

#log {
    width: 300px;
    height: 384px;
    background-color: #eeeeee;
    overflow: scroll;
}

#input {
    width: 512px;
    height: 50px;
    background-color: #eeeeee;
    float: left;
    clear: both;
}

#login-box {
    position: absolute;
    z-index: 12;
    top: 200px;
    left: 50px;
    right: 50px;
    border: 1px solid silver;
    text-align: center;
    padding: 10px;
    background-color: lightblue;
}

#navigation {
    height: 30px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: silver;
    border-bottom: 1px solid black;
}

body {
    margin: 0px;
}

.userDiv {
    margin: 0;
    position: absolute;
    z-index: 10;
}

.userDiv .name {
    text-wrap: none;
    height: 20px;
    background: yellow;
    color: black;
}

.chatBubble {
    border: 1px solid black;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    top: -10px;
    left: 30px;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}